@using Web.Models.Api
@model LoginRequest
@{
    Layout = "_AuthLayout";
}

<h1 class="mb-4">Login</h1>
<form asp-action="Login" method="post">
    <div class="form-group mb-2">
        <label asp-for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
