@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_AuthLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Anonymous</h1>
    <p>This page can be viewed by anyone.</p>
</div>
