@model UserClaims
@if (Model == null)
{
    <header>
    </header>
}

else
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Canvas">Canvas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Camera">Camera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Video">Audio & Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Geolocation">Geolocation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Payment" asp-action="Index">Payment</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-row">
                    @if (!string.IsNullOrEmpty(Model.Nickname))
                    {
                        <div class="my-auto">@Model.Nickname <small class="text-muted">(@Model.Email)</small></div>
                    }
                    <div>
                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
}
